
<div class="regConainerFull">
  <mat-card>
    <app-loader-spinner *ngIf="!event()" color="black" height="200px"></app-loader-spinner>
    <div *ngIf="event()" class="eventTitle" style="padding: 10px; border-bottom: 1px solid var(--light-blue1);">
      <div class="title" style="text-align: center; font-weight: 600; font-size: 18px;">{{event()?.event.title}}</div>
      <div class="info">
        <app-label label="მისამართი" [value]="event()?.event.address"></app-label>
        <app-label label="რეგისტრაციის დაწყება" [value]="event()?.event.startDate | date: 'dd-MM-yyy'"></app-label>
        <app-label label="რეგისტრაციის დამთავრება" [value]="event()?.event.endDate | date: 'dd-MM-yyy'"></app-label>
      </div>
    </div>
    <mat-tab-group class="tabsCont" (selectedTabChange)="onTabChange($event)">
      <mat-tab *ngFor="let partition of event()?.partitions" [label]="partition.title">
        <div class="regComponent">
          <div class="races">
            <mat-card (click)="chooseRace(race)" [ngClass]="chosenRace?._id == race._id ? 'bkOn' : ''" class="race"
              *ngFor="let race of partition.races">
              {{ race.distance + ' '}} {{ race.style }} {{race.gender}}
            </mat-card>
          </div>
          <div *ngIf="partition.races.length > 0" class="athletes">
            <mat-card style="height: 100%; padding: 5px 10px;">
              <div class="addPartitcipantsCont" *ngIf="!chosenRace">Please choose a race</div>
              <div class="addPartitcipantsCont" *ngIf="chosenRace">
                <div style="font-weight: 600;">{{ chosenRace.title }}</div>
                <app-loader-spinner *ngIf="isLoading" color="black" height="200px"></app-loader-spinner>
                <div *ngIf="!isLoading" class="registeredAthletesList">
                  <div *ngIf="raceRegisterAthletes().length == 0">No athlete</div>
                  <div *ngIf="raceRegisterAthletes().length > 0" class="athleteInfoRegHeader">
                    <div>name</div>
                    <div>result</div>
                    <div>action</div>
                  </div>
                  <div class="athleteInfoReg" *ngFor="let athlete of raceRegisterAthletes(), let i =index">
                    <div>{{i + 1 + '. '}}{{athlete.athlete.lastName + ' ' + athlete.athlete.firstName}}</div>
                    <div>{{ athlete.qualificationTime.minutes + ':' + athlete.qualificationTime.seconds + '.' +
                      athlete.qualificationTime.milliseconds}}</div>
                    <div><button (click)="deleteRegisteredAthlete(athlete)" mat-raised-button>delete</button></div>
                  </div>
                </div>
                <div class="addAthleteCont">
                  <div style="text-align: center; padding: 5px;">Add Athlete</div>
                  <form [formGroup]="registerAthleteForm" class="add_athlete_form">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>athlete</mat-label>
                      <input type="text" placeholder="Pick one" matInput formControlName="athleteInfo"
                        [matAutocomplete]="auto" />
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                        (optionSelected)="onOptionSelected($event)">
                        <mat-option *ngFor="let option of filteredOptions()" [value]="option">
                          {{ option?.member?.athlete?.lastName + ' ' + option?.member?.athlete?.firstName }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
      
                    <mat-form-field class="full-width">
                      <mat-label>result</mat-label>
                      <input formControlName="athleteResult" maxlength="8" [value]="AthleteResultValue" matInput type="text"
                        placeholder="01:59.33" />
                    </mat-form-field>
      
                    <button type="button" (click)="addAthlete()" [disabled]="!registerAthleteForm.valid"
                      mat-raised-button>Add</button>
                  </form>
                </div>
              </div>
            </mat-card>
          </div>
          <div *ngIf="partition.races.length === 0">
            There are no races yet
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  
  <mat-card class="allRegisteredAthletes">
    <div *ngIf="AllRegisterAthletes()?.length > 0" class="allRegisteredAthletes_header">
      Competition Registered Athletes
    </div>
    <div *ngIf="AllRegisterAthletes()?.length == 0" class="allRegisteredAthletes_header">
      No athlete is registered
    </div>
    <div style="width: 100%;">

      <app-loader-spinner *ngIf="isLoadingAllRegAthletes" color="black" height="500px"></app-loader-spinner>
      <mat-accordion *ngIf="!isLoadingAllRegAthletes" >
        <mat-expansion-panel style="margin: 3px;" *ngFor="let athlete of AllRegisterAthletes()">
          <mat-expansion-panel-header>
            <div class="header-content">
              <div class="title">
                <span class="header-title">{{athlete.athlete?.lastName + ' ' + athlete?.athlete?.firstName}}</span>
                <span class="header-subtitle">{{athlete?.athlete?.gender}}</span>
              </div>
              <span class="date">{{athlete?.athlete?.birthDate | date : 'yyyy'}}</span>
            </div>
          </mat-expansion-panel-header>
          <div class="panel-content">
            <div *ngFor="let race of athlete?.races, let i = index">
              <div>{{(i + 1) + '. ' +race.distance + ' ' + race.style + ' '}}<span style="color: rgb(163, 162, 162);">{{race.gender}}</span></div>
            </div>
          
          </div>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </mat-card>
</div>