<div class="headerCont">
    <div class="title" *ngIf="userData" routerLink="/coach/dashboard">{{'Coach' | translate}}</div>
    <div class="title" *ngIf="!userData" routerLink="/coach/dashboard">{{ 'Please sign in' | translate}}</div>
    <div class="info">
        <div *ngIf="needUserInfo" class="username padding5">{{ userData ? userData.user.lastName + ' ' + userData.user.firstName : ''}}</div>
        <div *ngIf="userData && needUserInfo && teams().length > 0" class="teamsDropdownMenu padding5 gapLane" [matMenuTriggerFor]="teamsMenu">
            <div>{{chosenTeam()?.title | shorten:20}}</div>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
        <div class=" padding5 gapLane" *ngIf="teams().length == 0">No team</div>
        <div class="language-selector gapLane">
            <button class="dropdown-btn" (click)="toggleDropdown()">
              <span class="icon"><img src="assets/imgs/Globe.svg" alt="Globe icon"></span> 
              <span class="hideOnMobile">{{language}}</span>
              <span class="arrow hideOnMobile">&#9660;</span>
            </button>
        
            <ul class="dropdown-content" *ngIf="dropdownOpen">
              <li (click)="switchLanguage('en')">English</li>
              <li (click)="switchLanguage('ka')">ქართული</li>
            </ul>
        </div>
        <div *ngIf="userData" class="menu gapLane padding5" [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon>
        </div>
    </div>
</div>

<!-- <app-mobile-header></app-mobile-header> -->

<mat-menu #menu="matMenu">
    <button *ngFor="let item of menuItems" mat-menu-item (click)="onMenuItemClick(item.action)">{{item?.title}}</button>
</mat-menu>

<mat-menu #teamsMenu="matMenu">
    <button *ngFor="let team of teams()" mat-menu-item (click)="teamSwitch(team)">{{team?.title}}</button>
</mat-menu>