.menu {
    cursor: pointer;
    display: flex;
}

.headerCont {
    width: 100%;
    color: #ccc;
    background-color: var(--dark-blue3);
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
    height: 67px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.teamsDropdownMenu {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.gapLane {
    border-left: 1px solid gray;
}

.padding5 {
    padding: 2px 12px;
}