<div *ngIf="event()" class="eventDetCont">
    <mat-card class="card">
        <div class="title">{{event()?.event.title}}</div>
        <div class="info">
            <!-- <app-label
            [shortened]="true"
            [canCopy]="true"
            label="id"
            [value]="event()?.event?.title"
          ></app-label> -->
            <app-label label="description" [value]="event()?.event?.description"></app-label>
            <app-label label="address" [value]="event()?.event?.address"></app-label>
            <app-label label="startDate" [value]="event()?.event?.startDate | date: 'dd-MM-yyy'"></app-label>
            <app-label label="endDate" [value]="event()?.event?.endDate | date: 'dd-MM-yyy'"></app-label>
            <app-label label="registrationStartDate" [value]="event()?.event?.registrationStartDate | date: 'dd-MM-yyy'"></app-label>
            <app-label label="registrationEndDate" [value]="event()?.event?.registrationEndDate | date: 'dd-MM-yyy'"></app-label>
        </div>
    </mat-card>
</div>

<app-loader-spinner *ngIf="!event()" color="black" height="500px"></app-loader-spinner>