.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contentContaier {
    padding: 20px;
}

@media (max-width:740px) {
    .contentContaier {
    padding: 10px;
    }
}