
<app-loader-spinner *ngIf="!competitions()" color="black" height="500px"></app-loader-spinner>

<div class="compContainer">
    <mat-card class="compCard" *ngFor="let competition of competitions()">
        <div class="compTitle">{{competition.title}}</div>
        <div class="startDate date"><div>{{competition.startDate | date: 'yyyy-MM-dd'}}</div></div>
        <div class="registration">Registration</div>
        <div class="regDates">
            <div class="regStartDate date"><div>start:</div><div>{{competition.registrationStartDate | date: 'yyyy-MM-dd'}}</div></div>
            <div class="regEndDate date"><div>end:</div><div>{{competition.registrationEndDate | date: 'yyyy-MM-dd'}}</div></div>
        </div>
        <div class="actions">
            <button mat-raised-button>details</button>
            <button [disabled]="!competition.statement.hasActiveStatement && !canRegistrate(competition.registrationEndDate)" mat-raised-button>register</button>
        </div>
    </mat-card>
</div>