.compCard {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.compContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.date {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.compTitle {
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
}

.registration {
    font-weight: 500;
}

.regDates {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.actions {
    display: flex;
}

.actions button {
    margin: 8px;
}
@media (max-width:740px){
    .compContainer {
        grid-template-columns: 1fr;
    }
}