<mat-card *ngIf="teamDetails()" class="teamDetailsCont">
    <h3>{{teamDetails()?.title}}</h3>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Coaches
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p *ngFor="let coach of coaches()">{{coach.lastName + ' ' + coach.firstName}}</p>
        </mat-expansion-panel>
        
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Athletes
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p *ngFor="let athlete of Athletes()">{{athlete.lastName + ' ' + athlete.firstName}}</p>
        </mat-expansion-panel>
      </mat-accordion>
</mat-card>

<app-loader-spinner *ngIf="!teamDetails()" color="black" height="500px"></app-loader-spinner>
